<% if(success.length > 0) { %>
  <div class="bg-green-500 text-white p-3 ">
    <%= success %>
  </div>
<% } %>

<% if(error.length > 0) { %>
  <div class="bg-red-500 text-white p-3 ">
    <%= error %>
  </div>
<% } %>
